body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
nav{
    position: absolute;
    right: 0;
    top: 110px;
}
nav li{
    display: inline;
    margin: 10px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover{
    color: rgb(255, 255, 255);
}
.produtos{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 15px 50px;
}
.produtos li:hover{
    border-color: rgb(63, 174, 41);
}
.produtos li:hover h2{
    font-size:35px
}
.produtos li:active{
    border-color: rgb(36, 100, 24);
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.produtos-descricao{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 20px;
}
.produtos-preco{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 0;
}
footer{
    background: url("D:\\Suenilton\\Pessoal\\Projetos Python\\Projetos front-end HTML e CSS\\Projeto HTML e CSS\\materiais do curso\\imagens\\bg.jpg");
    padding: 40px 0;
    text-align: center;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 80%;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    margin: 10px 0 2px;
    font-size: 20px;
}
.input-padrao{
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    width: 50%;
}
.contato{
    width: 20%;
    margin: 20px 0;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(161, 107, 7);
    color: white;
    transform: scale(1.05) rotate(5deg);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 15px 8px;
}
/* CSS da página inicial */
.banner{
    width: 100%;
}
.principal{
    background: linear-gradient(#FEFEFE, #888888);
    padding: 3em 0;
}
.titulo-principal{
    text-align: center;
    /* "2em" significa que independente de qual for a fonte escolhida ou a fonte pedrão, a fonte com essa estilização
    terá o dobro do tamanho padrão. Se fosse "3em", seria três vezes o tamanho padrão. */
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.titulo-principal:first-letter{
    font-weight: bold;
}
.titulo-principal:before{
    content: '[ ';
}
.titulo-principal:after{
    content: ' ]';
}
p:first-line{
    font-weight: bold;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.beneficios{
    background: radial-gradient(rgb(225, 214, 194) 50%, blue 60%, green 70%)
}
.img_beneficios{
    width: 60%;
}
.conteudo-beneficios{
    width: 1000px;
    margin: 0 auto;
}
.conteudo-beneficios li:before{
    content: '★ ';
}
.mapa{
    padding: 3em 1em;
    background: linear-gradient(45deg, orange 50%, blue 60%, green 70%)
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.video{
    width: 1268px;
    margin: 3em auto;
}
.itens{
    display: inline-block;
    width: 38%;
    vertical-align: top;
}
.itens li{
    line-height: 1.5em;
}
.itens li:first-child{
    font-weight: bold;
}
.itens li:nth-child(3){
    color: orange;
}
.itens li:nth-child(2n){
    color: rgb(3, 216, 3);
}
/* apenas as tags filhas da tag main receberam esse comportamento */
main > p{
    background-color: aqua;
}
/* a próxima tag p depois da tag img recebe esse comportamento */
img + p{
    background-color: blueviolet;
}
/* todas as tags p depois da tag h3 receberam esse comportamento */
h3 ~ p{
    background-color: yellowgreen;
}
#segundo-p-mapa:first-letter{
    font-size: 30px;
    color: brown;
}
.mapa p:not(#segundo-p-map){
    background-color: burlywood;
}
.img-barbearia-2{
    padding: 20px;
    box-shadow: inset 0 0 10px red;
}
.img-barbearia-2 img{
    width: calc(100% - 800px);
    opacity: 0.7;
    transition: 250ms;
    margin: 20px 0;
}
.img-barbearia-2 img:hover {
    opacity: 1;
    box-shadow: 10px 10px 5px 5px black;
}
.img-barbearia-2 h4{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
}
.img-barbearia-2 h5{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
}