header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
nav{
    position: absolute;
    right: 0;
    top: 110px;
}
nav li{
    display: inline;
    margin: 10px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover{
    color: rgb(255, 255, 255);
}
.produtos{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 15px 50px;
}
.produtos li:hover{
    border-color: rgb(63, 174, 41);
}
.produtos li:hover h2{
    font-size:35px
}
.produtos li:active{
    border-color: rgb(36, 100, 24);
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.produtos-descricao{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 20px;
}
.produtos-preco{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 0;
}
footer{
    background: url("D:\\Suenilton\\Pessoal\\Projetos Python\\Projetos front-end HTML e CSS\\Projeto HTML e CSS\\materiais do curso\\imagens\\bg.jpg");
    padding: 40px 0;
    text-align: center;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 80%;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    margin: 10px 0 2px;
    font-size: 20px;
}
.input-padrao{
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    width: 50%;
}
.contato{
    width: 20%;
    margin: 20px 0;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(161, 107, 7);
    color: white;
    transform: scale(1.05) rotate(5deg);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 15px 8px;
}