<!--A tag "DOCTYPE" serve para indicar ao navegador qual a versão desse documento -->
<!DOCTYPE html>
<!--O atributo "lang" é utilizado para definir a linguagem da página.-->
<html lang="pt-br">
    <!--Toda informação que quero passar para o navegador eu coloco dentro do head-->
    <head>
        <!--A tag "meta" é usada para descrever o conteúdo de uma página na web-->
        <!--O atributo "charset" é usado para dizer qual será a codificação de caracteres utilizada na página.-->
        <meta charset=UTF-8>
        <!--A teg "title" é usada para definir o título da página na aba do navegador.-->
        <title>Barbearia Alura</title>
        <!--Forma de estilização CSS que aplica o estilo a todas as tags estilizadas dentro da tag style-->
        <style>
            p{
                text-align: left;
            }
        </style>
        <!--Forma de estilização CSS utilizando um arquivo externo onde "rel" é o relacionamento e "href" é a localização do arquivo.-->
        <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\static\reset.css">
        <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\static\style.css">
    </head>
    
    <!--Toda informação que quero exibir na página eu coloco dentro do body-->
    <body>
        <!--A tag "header" é o cabeçalho, ou seja, é a primeira informação que irá aparecer na página-->
        <header>
            <div class="caixa">
                <h1><img src="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\materiais do curso\imagens\logo.jpg" alt="problema"></h1>
                <nav> <!--Essa tag é utilizada para definir a barra de navegação -->
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="produtos.html">Produtos</a></li>
                        <li><a href="contato.html">Contatos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!--"src" é source e "alt" é alternativo ou seja, um texto para caso a imagem não apareça por algum motivo.-->
        <img class="banner" src="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\materiais do curso\imagens\o-que-nao-pode-faltar-na-sua-barbearia-equipamentos.jpg" alt="Erro na imagem">
        <main>
            <section class="principal">
                <!--A tag "h" serve para indicar que determinado texto é um título e vai do h1 até o h6 variando o tamanho-->
                <h2 style="text-align: center">Sobre a Barbearia Alura</h2> <!--Forma de estilização CSS inline-->
                <h3 class="titulo-principal">Sobre a Barbearia Alura</h3>
                <img class="utensilios" src="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\materiais do curso\imagens\utensilios.jpg" alt="Utensilios de um barbeiro">
                <!--A tag "p" serve para indicar parágrafo-->
                <!--A tag "strong" serve para tornar um texto em negrito-->
                <p>Localizada no coração da cidade a <strong>Barbearia Alura</strong> traz para o mercado o que há de melhor para o seu cabelo e barba. Fundada em 2019, a Barbearia Alura já é destaque na cidade e conquista novos clientes a cada dia.</p>
                <!--A tag "em" serve para tornar um texto em itálico-->
                <!--Quando eu quero aplicar uma estilização específica apenas para uma tag, eu atribuo a ela um "id" 
                e na folha de estilização eu me refiro a ela colocando "#valor_id"-->
                <p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos clientes".</strong></em></p>

                <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>
                <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>
                <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>
                <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>
            </section>
            <section class="beneficios">
                <h3 class="titulo-principal">Benefícios</h3>
                <!--"ul" é unordered list "ol" é ordered list-->
                <ul class="itens">
                    <!--Para cada um dos itens se faz necessário a utilização do "li" que é list item-->
                    <li>Atendimento aos clientes</li>
                    <li>Espaço diferenciado</li>
                    <li>Localização</li>
                    <li>Profissionais qualificados</li>
                </ul>
                <img class="img_beneficios" src="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\materiais do curso\imagens\una-barberia-donde-te.jpg" alt="Erro na imagem">
            </section>
        </main>
        <footer>
            <img src="D:\Suenilton\Pessoal\Projetos Python\Projetos front-end HTML e CSS\Projeto HTML e CSS\materiais do curso\imagens\logo-branco.png" alt="Erro ao carregar imagem.">
            <p class="copyright">&copy; Copyright Barbearia Alura - 2022</p>
        </footer>
    </body>
</html> 